USE [master]
GO
/****** Object:  Database [Karavan_4529]    Script Date: 23.10.2021 19:53:16 ******/
CREATE DATABASE [Karavan_4529]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Karavan_4529', FILENAME = N'/var/opt/mssql/data/Karavan_4529.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Karavan_4529_log', FILENAME = N'/var/opt/mssql/data/Karavan_4529_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Karavan_4529].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Karavan_4529]
GO
/****** Object:  Table [dbo].[EMAIL]    Script Date: 23.10.2021 19:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL](
	[id_posetitel] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NULL,
	[mail] [nvarchar](50) NULL,
 CONSTRAINT [PK_EMAIL] PRIMARY KEY CLUSTERED 
(
	[id_posetitel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMAIL_GRUPA]    Script Date: 23.10.2021 19:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_GRUPA](
	[ID_GRUPA] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[JAZIK_ID_JAZIKM] [numeric](18, 0) NULL,
	[NAZIV] [nvarchar](50) NULL,
	[aktivna] [numeric](18, 0) NULL,
 CONSTRAINT [PK_EMAIL_GRUPA] PRIMARY KEY CLUSTERED 
(
	[ID_GRUPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMAIL_PORAKA]    Script Date: 23.10.2021 19:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_PORAKA](
	[ID_PORAKA] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[GRUPA_ID_GRUPA] [numeric](18, 0) NULL,
	[DATUM] [datetime] NULL,
	[NASLOV] [nvarchar](50) NULL,
	[TEKST] [nvarchar](500) NULL,
 CONSTRAINT [PK_EMAIL_PORAKA] PRIMARY KEY CLUSTERED 
(
	[ID_PORAKA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GALERIJA]    Script Date: 23.10.2021 19:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GALERIJA](
	[Id_galerija] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[preview] [numeric](18, 0) NULL,
 CONSTRAINT [PK_GALERIJA] PRIMARY KEY CLUSTERED 
(
	[Id_galerija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GALERIJA_OPIS]    Script Date: 23.10.2021 19:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GALERIJA_OPIS](
	[gal_id_galerija] [numeric](18, 0) NULL,
	[jazik_id_jazikg] [numeric](18, 0) NULL,
	[naslov] [nvarchar](50) NULL,
	[opis] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GALERIJA_SLIKA]    Script Date: 23.10.2021 19:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GALERIJA_SLIKA](
	[id_slika] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[gal_id_galerijas] [numeric](18, 0) NULL,
	[opisslika] [nvarchar](300) NULL,
	[slika] [nvarchar](50) NULL,
	[OPISSLIKAENG] [nvarchar](300) NULL,
 CONSTRAINT [PK_GALERIJA_SLIKA] PRIMARY KEY CLUSTERED 
(
	[id_slika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JAZIK]    Script Date: 23.10.2021 19:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JAZIK](
	[id_jazik] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[jazik] [nvarchar](50) NULL,
 CONSTRAINT [PK_JAZIK] PRIMARY KEY CLUSTERED 
(
	[id_jazik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KADMINISTRATOR]    Script Date: 23.10.2021 19:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KADMINISTRATOR](
	[Id_admin] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[ime] [nvarchar](50) NULL,
	[telefon] [nvarchar](50) NULL,
 CONSTRAINT [PK_KADMINISTRATOR] PRIMARY KEY CLUSTERED 
(
	[Id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KDOKUMENT]    Script Date: 23.10.2021 19:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KDOKUMENT](
	[id_dokument] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[naslov] [nvarchar](50) NULL,
	[jazik_id_jazikd] [numeric](18, 0) NULL,
	[dokument] [nvarchar](50) NULL,
	[prikaz] [numeric](18, 0) NULL,
 CONSTRAINT [PK_kdokument] PRIMARY KEY CLUSTERED 
(
	[id_dokument] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KNOVOST]    Script Date: 23.10.2021 19:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KNOVOST](
	[id_novost] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[adm_id_admin] [numeric](18, 0) NULL,
	[jazik_id_jazikn] [numeric](18, 0) NULL,
	[naslov] [nvarchar](50) NULL,
	[opis] [nvarchar](1500) NULL,
	[datum_od] [datetime] NULL,
	[datum_do] [datetime] NULL,
 CONSTRAINT [PK_KNOVOST] PRIMARY KEY CLUSTERED 
(
	[id_novost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAILING]    Script Date: 23.10.2021 19:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAILING](
	[EMAIL_ID_POSETITEL] [numeric](18, 0) NULL,
	[EMAIL_ID_GRUPA] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMAIL_GRUPA]  WITH CHECK ADD  CONSTRAINT [FK_EMAIL_GRUPA_JAZIK] FOREIGN KEY([JAZIK_ID_JAZIKM])
REFERENCES [dbo].[JAZIK] ([id_jazik])
GO
ALTER TABLE [dbo].[EMAIL_GRUPA] CHECK CONSTRAINT [FK_EMAIL_GRUPA_JAZIK]
GO
ALTER TABLE [dbo].[EMAIL_PORAKA]  WITH CHECK ADD  CONSTRAINT [FK_EMAIL_PORAKA_EMAIL_GRUPA] FOREIGN KEY([GRUPA_ID_GRUPA])
REFERENCES [dbo].[EMAIL_GRUPA] ([ID_GRUPA])
GO
ALTER TABLE [dbo].[EMAIL_PORAKA] CHECK CONSTRAINT [FK_EMAIL_PORAKA_EMAIL_GRUPA]
GO
ALTER TABLE [dbo].[GALERIJA_OPIS]  WITH CHECK ADD  CONSTRAINT [FK_GALERIJA_OPIS_GALERIJA] FOREIGN KEY([gal_id_galerija])
REFERENCES [dbo].[GALERIJA] ([Id_galerija])
GO
ALTER TABLE [dbo].[GALERIJA_OPIS] CHECK CONSTRAINT [FK_GALERIJA_OPIS_GALERIJA]
GO
ALTER TABLE [dbo].[GALERIJA_OPIS]  WITH CHECK ADD  CONSTRAINT [FK_GALERIJA_OPIS_JAZIK] FOREIGN KEY([jazik_id_jazikg])
REFERENCES [dbo].[JAZIK] ([id_jazik])
GO
ALTER TABLE [dbo].[GALERIJA_OPIS] CHECK CONSTRAINT [FK_GALERIJA_OPIS_JAZIK]
GO
ALTER TABLE [dbo].[GALERIJA_SLIKA]  WITH CHECK ADD  CONSTRAINT [FK_GALERIJA_SLIKA_GALERIJA] FOREIGN KEY([gal_id_galerijas])
REFERENCES [dbo].[GALERIJA] ([Id_galerija])
GO
ALTER TABLE [dbo].[GALERIJA_SLIKA] CHECK CONSTRAINT [FK_GALERIJA_SLIKA_GALERIJA]
GO
ALTER TABLE [dbo].[KNOVOST]  WITH CHECK ADD  CONSTRAINT [FK_KNOVOST_JAZIK] FOREIGN KEY([jazik_id_jazikn])
REFERENCES [dbo].[JAZIK] ([id_jazik])
GO
ALTER TABLE [dbo].[KNOVOST] CHECK CONSTRAINT [FK_KNOVOST_JAZIK]
GO
ALTER TABLE [dbo].[KNOVOST]  WITH CHECK ADD  CONSTRAINT [FK_KNOVOST_KADMINISTRATOR] FOREIGN KEY([adm_id_admin])
REFERENCES [dbo].[KADMINISTRATOR] ([Id_admin])
GO
ALTER TABLE [dbo].[KNOVOST] CHECK CONSTRAINT [FK_KNOVOST_KADMINISTRATOR]
GO
ALTER TABLE [dbo].[MAILING]  WITH CHECK ADD  CONSTRAINT [FK_MAILING_EMAIL] FOREIGN KEY([EMAIL_ID_POSETITEL])
REFERENCES [dbo].[EMAIL] ([id_posetitel])
GO
ALTER TABLE [dbo].[MAILING] CHECK CONSTRAINT [FK_MAILING_EMAIL]
GO
ALTER TABLE [dbo].[MAILING]  WITH CHECK ADD  CONSTRAINT [FK_MAILING_EMAIL_GRUPA] FOREIGN KEY([EMAIL_ID_GRUPA])
REFERENCES [dbo].[EMAIL_GRUPA] ([ID_GRUPA])
GO
ALTER TABLE [dbo].[MAILING] CHECK CONSTRAINT [FK_MAILING_EMAIL_GRUPA]
GO
USE [master]
GO
